
<div class="container">
  <h4>管理者 コメント一覧</h4>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">コメントID</th>
          <th scope="col">投稿ユーザ名</th>
          <th scope="col">コメント</th>
          <th scope="col">更新日</th>
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
          <tr class="comment-index">
            <td class="comment-id text-center">
              <%= comment.id %>
            </td>
            <td class="comment-user">
              <% if comment.user.user_name.present? %>
                <%= comment.user.user_name %>
              <% else %>
                未登録
              <% end %>
            </td>
            <td class="comment">
              <%= comment.comment %>
            </td>
            <td class="date">
              <%= comment.updated_at.strftime('%Y/%m/%d') %>
            </td>
            <td class="show-btn text-center">
              <%= link_to "詳細", admin_comment_path(comment.id), class: "btn btn-success"  %>
            </td>
          </tr>
        <% end %>
        <%= paginate @comments %>
      </tbody>
    </table>
</div>