<%= flash[:notice] %>
<div class="container">
  <h4>管理者 コメント詳細</h4>
  <div class="row comment-show justify-content-center">
    <table class="table table-bordered table-striped w-75">
      <tr>
        <th>コメントID</th>
        <td>
          <%= @comment.id %>
        </td>
      </tr>
      <tr>
        <th>ユーザ名</th>
        <td>
          <% if @comment.user.user_name.present? %>
            <%= @comment.user.user_name %>
          <% else %>
            未登録
          <% end %>
        </td>
      </tr>
      <tr>
        <th>コメント</th>
        <td>
          <%= @comment.comment %>
        </td>
      </tr>
    </table>
  </div>
  <div class="row justify-content-center">
    <%= link_to "削除する", post_comment_path(@comment), class: "btn btn-danger",
    data: {confirm: "コメントを削除します。よろしいですか？"} %>
  </div>
</div>