<div class="container">
  <h4>新規投稿</h4>
  <div class="row">
    <%= form_with model: @post,url: posts_path do |f| %>
      <div class="row">
        <span>タイトル</span>
        <%= f.text_field :title %>
      </div>
      <div class="row">
        <span>トップ画像</span>
        <%= f.file_field :post_image,accept: "image/*" %>
      </div>
      <div class="row">
        <span>説明</span>
        <%= f.text_area :introduction %>
      </div>
      <div class="row">
        <span>カテゴリ</span>
        <div class="field">
          <%= collection_check_boxes(:post, :category_ids, Category.all, :id, :category_name ) do |t|  %>
            <% t.label { t.check_box + t.text } %>
          <% end %> 
        </div>
      </div>
      
      <div class="row">
        <span>用意するもの</span>
        <div class="add-botton-box">
          <%= link_to_add_association "追加ボタン", f, :cleaning_tools,
            class: 'add_fields',
            id: 'add-btn',
            data: {
              association_insertion_node: '#detail-association-insertion-point',
              association_insertion_method: 'append'
              } 
          %>
        </div>
        <!--<%#= f.text_field :cleaning_tool %>-->
        <div id="detail-association-insertion-point"></div>
        
        <%= f.fields_for :cleaning_tools do |form| %>
          <%= render "cleaning_tool_fields", f: form %>
        <% end %>
        
      </div>
      <div class="row">
        <span>掃除方法</span>
        <div class="add-botton-box">
          <%= link_to_add_association "追加ボタン", f, :cleaning_recipes,
            class: 'add_fields',
            id: 'add-btn',
            data: {
              association_insertion_node: '#detail-association-insertion-point2',
              association_insertion_method: 'append'
              } 
          %>
        </div>
        <%#= f.fields_for :recipe_image,accept: "image/*" %>
        <!--<%#= f.fields_for :cleaning_recipe, placeholder: "説明文" %>-->
        <div id="detail-association-insertion-point2"></div>
        
        <%= f.fields_for :cleaning_recipes do |form| %>
          <%= render "cleaning_recipe_fields", f: form %>
        <% end %>
      </div>

      <%= f.submit "投稿", class: "btn btn-success" %>
    <% end %>
  </div>
</div>