<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container">
  <div class='flash-message'>
    <%= flash[:notice] %>
  </div>
    <h4>管理者 ユーザ情報編集</h4>
    <div class="row">
      <div class="col-lg-4">
        <div class="row user-img">
          <%= image_tag @user.get_profile_image(200,200) %>
        </div>
      </div>
      
      <div class="col-lg-8 user-edit">
        <%= form_with model: @user, url: admin_user_path(@user), local: true do |f| %>
          <table class="table table-bordered table-striped">
            <tr>
              <th>ユーザID</th>
              <td class="user-id">
                <%= @user.id %>
              </td>
            </tr>
            <tr>
              <th>ユーザ名</th>
              <td class="user-name">
                <% if @user.user_name.present? %>
                  <%= @user.user_name %>
                <% else %>
                  未登録
                <% end %>
              </td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td class="email">
                <%= @user.email %>
              </td>
            </tr>
            <tr>
              <th>プロフィール</th>
              <td class="profile">
                <% if @user.self_introduction.present? %>
                  <%= @user.self_introduction %>
                <% else %>
                  未登録
                <% end %>
              </td>
            </tr>
            <tr>
              <th>ユーザステータス</th>
              <td class="user-status">
                  <%= f.radio_button :is_deleted, :false %>
                  <%= f.label :is_deleted, "有効", value: :false %>
                  <%= f.radio_button :is_deleted, :true %>
                  <%= f.label :is_deleted, "退会", value: :true %>
              </td>
            </tr>
          </table>
          <div class="row justify-content-center">
            <%= f.submit "更新", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
</div>