
<div class="container">
  <h4>
    管理者 ユーザ一覧
    <span class="num-items">全<%= @users.count %>件</span>
  </h4>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">ユーザID</th>
        <th scope="col">ユーザ名</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">ユーザステータス</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class="users">
          <td class="user-id text-center">
            <%= user.id %>
          </td>
          <td class="user-name">
            <% if user.user_name.present? %>
              <%= user.user_name %>
            <% else %>
              未登録
            <% end %>
          </td>
          <td class="email">
            <%= user.email %>
          </td>
          <td class="user-status text-center">
            <% if user.is_deleted %>
              退会
            <% else %>
              有効
            <% end %>
          </td>
          <td class="show-btn text-center">
            <%= link_to "詳細", admin_user_path(user.id), class: "btn btn-success"  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
</div>