<div class="container">
  <div class='flash-message'>
    <%= flash[:notice] %>
  </div>
  <h4>マイページ</h4>
  <div class="row">
    <div class="col-lg-4">
      <div class="row mypage-list">
        <%= link_to user_path(current_user) do %>
          <%= image_tag @user.get_profile_image(100,100) %>
        <% end %>
      </div>
      <div class="row profile-box">
        <div class="col-lg-12">
          ニックネーム
        </div>
        <div class="col-lg-12 self-intro">
          <% if @user.user_name.present? %>
            <%= @user.user_name %>
          <% else %>
            現在登録がありません。
          <% end %>
        </div>
        <div class="col-lg-12">
          プロフィール
        </div>
        <div class="col-lg-12 self-intro">
          <% if @user.self_introduction.present? %>
            <%= @user.self_introduction %>
          <% else %>
            現在登録がありません。
          <% end %>
        </div>
        <div class="col-lg-12">
          <%= link_to "ユーザ情報編集", edit_user_path(current_user) %>
        </div>
        <div class="col-lg-12">
          <%= link_to "いいねした投稿一覧", my_likes_posts_path %>
        </div>
        <div class="col-lg-12">
          <%= link_to "コメントした一覧", my_comments_posts_path %>
        </div>
      </div>
    </div>
    
    <div class="col-lg-8">
      <div class="mypage-box">
        <div class="row mypage-title">
          <div class="col-lg-6">
            作成中のお掃除レシピ　全<%= @draft_posts.count %>件
          </div>
          <div class="col-lg-6">
            <% if @draft_posts.present? %>
              <%= link_to "作成中投稿一覧へ", posts_draft_path(@draft_posts) %>
            <% end %>
          </div>
        </div>
        <% if @draft_posts.present? %>
          <% @draft_posts.each do |draft_post| %>
          <div class="col-lg-12 mypage-list">
            <%= link_to draft_post.title, post_path(draft_post.id) %>
            <%= draft_post.updated_at.strftime("%Y-%m-%d") %>
            <%= link_to ">>編集", edit_post_path(draft_post.id) %>
          </div>
          <% end %>
        <% else %>
          <div class="col-lg-12">
            現在作成中のレシピはありません
          </div>
        <% end %>
        <div class="row justify-content-end w-100">
          ※更新順で10件まで表示
        </div>
      </div>
      <div class="mypage-box">
        <div class="row mypage-title">
          <div class="col-lg-6">
            投稿したお掃除レシピ　全<%= @posts.count %>件
          </div>
          <div class="col-lg-6">
            <% if @posts.present? %>
              <%= link_to "投稿一覧へ", post_list_user_path(current_user.id) %>
            <% end %>
          </div>
          
        </div>
        <% if @posts.present? %>
          <% @posts.each do |post| %>
            <div class="col-lg-12 mypage-list">
              <%= link_to post.title, post_path(post.id) %>
              <%= post.updated_at.strftime("%Y-%m-%d") %>
              <%= link_to ">>編集", edit_post_path(post.id) %>
            </div>
          <% end %>
        <% else %>
          <div class="col-lg-12">
            現在投稿したレシピはありません
          </div>
        <% end %>
        <div class="row justify-content-end w-100">
          ※更新順で10件まで表示
        </div>
      </div>
    </div>
  </div>
</div>