<div class="container">
  <h4>
    <span>
      <% if @user.user_name.present? %>
        <%= @user.user_name %>
      <% else %>
        ユーザネーム未登録
      <% end %>
      の投稿一覧
    </span>
    <span class="num-items">全<%= @posts.count %>件</span>
  </h4>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">タイトル</th>
          <th scope="col">いいね</th>
          <th scope="col">カテゴリ</th>
          <th scope="col">更新日</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr class="posted">
            <td class="title"><%= post.title %></td>
            <td class="like">♡<%= post.likes.count %></td>
            <td class="category">
              <% post.categories.each do |category| %>
                <%= category.category_name %>
              <% end %>
            </td>
            <td class="date"><%= post.updated_at.strftime('%Y/%m/%d') %></td>
            <td class="show-btn"><%= link_to "詳細", post_path(post.id), class: "btn btn-success"  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @posts %>
    </div>
</div>