<!DOCTYPE html>
<html>
  <head>
    <title>HomeCleanRecipe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if admin_signed_in? then %>
        <li>
          <%= link_to "ロゴ", users_path %>
        </li>
        <li>
          <%= link_to "ユーザ一覧", users_path %>
        </li>
        <li>
          <%= link_to "コメント一覧", comments_path %>
        </li>
        <li>
          <%= link_to "ログアウト",destroy_admin_session_path, method: :delete %>
        </li>
      <% elsif user_signed_in? then %>
        <li>
          <%= link_to "ロゴ", root_path %>
        </li>
        <li>
          <%= link_to "マイページ", users_mypage_path %>
        </li>
        <li>
          <%= link_to "ユーザ情報編集", edit_user_path(current_user) %>
        </li>
         <li>
          <%= link_to "投稿する", new_post_path %>
        </li>
        <li>
          <%= link_to "ログアウト",destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "ゲストログイン", public_guest_sign_in_path, method: :post, class: "login" %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
        
        <li>
          <%= link_to "管理者ログイン", new_admin_session_path %>
        </li>
        
         <li>
          <%= link_to "ユーザ登録", new_user_registration_path %>
        </li>
      <% end %>
    </header>
    <%= yield %>
  </body>
  
</html>
